.footer {
  @apply w-full bg-basic-gray;
  padding: 1.25em 4.5em 2.5em;
  margin-top: 5.6rem;

  &_nav {
    @apply flex justify-between items-center h-[5rem];

    button {
      @apply text-white transition-all;
      font-size: 1.8rem;

      &:hover {
        @apply text-basic-yellow;
      }

    }

    &_links {
      @apply flex justify-between;
      width: 8%;
    }

  }

  .resources {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    p {
      @apply text-border-gray font-semibold mb-[0.5rem];
      font-size: 1rem;
    }

    &_links {
      @apply text-white font-semibold mb-[0.5rem];
      opacity: 90%;
      width: 32%;
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr;
      grid-auto-rows: 2rem;

      a {
        @apply transition-all;
        &:hover {
          @apply text-basic-yellow;
        }
      }
    }
  }

  p {
    @apply text-white mt-[1.5rem] w-1/2;
    opacity: 90%;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .links {
    @apply w-full flex justify-between items-center mt-[2rem];

    button {
      @apply text-white font-semibold transition-all mr-[1rem];
      font-size: 0.8rem;

      &:hover {
        @apply text-basic-yellow;
      }

    }
  }

}