@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@import "scrollbar";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.app {
  background: rgb(18, 18, 18);
  min-height: 100vh;
}



