.logo {
  @apply h-full flex items-center cursor-pointer;

  &:hover {
    > h2 {
      @apply text-white transition-colors duration-200;
    }
  }

  > h2 {
    @apply ml-2 text-gray-text uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.05rem;

    span {
      font-size: 0.8rem;
      font-weight: bold;
      color: #f3d349
    }
  }
}