.card_wrapper {
  position: relative;
  box-sizing: border-box;
  transition: backgroundcolor 125ms ease-in-out;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: transparent;
  margin-bottom: 16px;

  @media(width >= 1920px) {
    @apply ml-[1rem];

    width: calc(20% - 16px * 0.8);

    &:nth-child(5n + 1) {
      @apply ml-0;
    }
  }

  @media (width >= 1024px) {
    margin-bottom: 48px;
  }

  @media (width >= 768px) and (width <= 1919px) {
    @apply ml-[1rem];

    width: calc(25% - 16px * 0.75);

    &:nth-child(4n + 1) {
      @apply ml-0;
    }
  }
}

.card {
  position: relative;
  display: block;

  > .cover {
    display: block;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-bottom: calc(4 / 3 * 100%);
    background: linear-gradient(to bottom, rgb(43 43 43), rgb(32 32 32));
    color: rgb(245 245 245 / 60%);

    &::after {
      transition: opacity 125ms ease-in-out;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      z-index: 1;
      border-radius: 0;
    }

    &:hover {
      &::after {
        opacity: 0.1;
      }
    }

    img {
      transition: opacity 125ms ease-in-out 450ms;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  > .info {
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-weight: 400;
    display: -webkit-box;
    display: flex;
    display: flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;

    @media (width >= 1600px) {
      font-size: 16px;
      line-height: 1.4;
    }

    > .title {
      h3 {
        display: -webkit-box;
        line-clamp: 2;
        overflow: hidden;
        word-break: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      > h3 {
        @apply text-gray-text font-medium;

        font-size: 1rem;
      }
    }

    > .price {
      @apply w-full mt-1 ;

      p {
        display: -webkit-box;
        display: flex;
        display: flexbox;
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
  }
}

.skeleton {
  @apply my-[0.75rem];
}
