.navbar {
  @apply sticky top-0 w-full w-full flex justify-center z-50;
  height: 6.25rem;
  background: rgb(18, 18, 18);

  &__content {
    @apply w-3/4 flex items-center justify-between;
  }

  &__left {
    @apply flex items-center;

    a {
      @apply ml-[2rem] text-border-gray text-sm font-medium;

      &:hover {
        @apply text-white transition-all;
      }
    }

    .activeLink {
      @apply text-white;
    }
  }

  &__right {
    @apply flex items-center;

    button {
      @apply relative ml-[1.8rem] text-border-gray text-sm font-medium ;

      &:hover {
        @apply text-white transition-all;

        span {
          @apply text-basic-black;
        }
      }

      span {
        @apply absolute inline-block bg-white w-[1rem] rounded-3xl ml-[0.2rem] text-basic-black;
        top: 0;
        right: -1.3rem;
      }
    }

  }
}