.container {
  padding-top: 0;
  color: rgb(245 245 245);
  background: rgb(18 18 18);
  position: relative;

  .content {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1600px;
  }
}
