.card {
  @apply relative w-[12,9375rem] h-[22rem] cursor-pointer mb-[3rem] flex flex-col justify-start;

  @media screen and (max-width: 766px) {
    @apply h-[18rem];
  }

  &__image {
    @apply relative w-[12,9375rem] h-[17.5rem] transition-all;
    img {
      @apply h-full w-full rounded-[0.25rem];

    }

    &:hover {
      opacity: 80%
    }
  }

  &__name {
    @apply w-full mt-2;
    p {
      @apply text-gray-text font-medium;
      font-size: 0.9rem;
    }
  }

  &__price {
    @apply w-full mt-2 ;
    p {
      @apply text-gray-text font-medium;
      font-size: 0.85rem
    }
  }

}