.card {
  @apply relative w-[12,9375rem] h-[22rem] cursor-pointer mb-[3rem];

  &__image {
    @apply relative w-full h-[17.5rem];
    img {
      @apply h-full w-full rounded-md;
    }

    &:hover {
      opacity: 80%
    }
  }

  &__name {
    @apply w-full mt-2;
    p {
      @apply text-white;
      font-size: 0.95rem;
    }
  }

  &__price {
    @apply w-full  mt-2;
    p {
      @apply text-white;
      font-size: 0.95rem
    }
  }

}