.burger_button {
  @apply text-gray-text bg-basic-black w-[3.25rem] h-[3.25rem] flex items-center justify-center;
  font-size: 1.8rem;
  z-index: 101;


  @media screen and (min-width: 768px) {
    display: none;
  }
}

.active {
  transform: translateX(0) !important;

  .darken {
    opacity: 1 !important;
  }
}

.menu {
  @apply fixed w-screen h-screen top-0 right-0 text-white flex justify-end;
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.2s;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .darken {
    position: absolute;
    top: 3.25rem;
    width: 100%;
    height: 100vh;
    backdrop-filter: brightness(35%);
    z-index: 101;
    opacity: 0;
  }

  .content {
    @apply relative bg-basic-gray pt-[5rem] flex flex-col justify-between ml-[9.25rem];
    width: 100%;
    height: 100%;
    z-index: 102;
    transition: all 0.2s;

    .links {
      @apply w-full flex flex-col;

      .link {
        @apply w-full h-[2rem] uppercase px-[2rem] mb-[1.5rem] font-semibold text-input-text;
        font-size: 0.9rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        transition: color 200ms ease-in-out;

        &:hover {
          @apply text-white;
        }
      }
    }

    .auth {
      @apply flex flex-col w-full;

      .user {
        @apply w-full h-[3.3rem] flex items-center justify-center;

        .user_symb {
          @apply relative mr-[0.4rem];
        }

        .online {
          @apply absolute h-[0.5rem] w-[0.5rem] bg-online rounded;
          right: -0.1rem;
          bottom: -0.2rem;
          border: solid 0.5px #2A2A2A;
        }
      }

      button {
        @apply w-full h-[3.3rem] flex items-center justify-center;
        a, p {
          @apply uppercase font-semibold;
          font-size: 0.9rem;
        }
      }

      .login_btn {
        box-shadow: inset 4px 7px 3px -5px rgba(37, 35, 35, 0.75);
        border: 1px solid #464646;

        a {
          @apply flex items-center;
          p {
            margin-left: 0.5rem;
          }
        }
      }

      .signup_btn {
        @apply bg-basic-yellow text-basic-black;
      }
    }
  }
}