.container {
  @apply w-full mb-[5rem];

  > h3 {
    @apply text-white font-medium mb-[1.5rem];
    font-size: 0.9rem;
  }

  .block {
    @apply w-full bg-basic-black rounded px-[3.5rem] py-[1.5rem];
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .main {
      @apply w-full mb-[2rem];
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .header {
        @apply w-full h-[5rem] mb-[2rem];
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        p {
          @apply w-[3.5rem] h-full text-white font-semibold uppercase flex items-center;
          font-size: 0.7rem;
          border-bottom: 2px solid #fff
        }
      }

      .characteristics {
        @apply flex w-full mb-[1rem];

        .min, .max {
          width: 50%;

          > p {
            @apply text-border-gray font-semibold mb-[2rem];
            font-size: 0.9rem;
          }

          .ch_item {
            @apply w-full mb-[1.5rem];

            p {
              @apply text-border-gray font-semibold;
              font-size: 0.9rem;
            }

            h5 {
              @apply text-white font-medium;
              font-size: 0.85rem;
            }

          }
        }
      }

      .logins {
        @apply mb-[2rem];
        p {
          @apply text-border-gray font-semibold;
          font-size: 0.9rem;
        }

        h5 {
          @apply text-white font-medium;
          font-size: 0.85rem;
        }
      }
    }

    .policy {
      p {
        @apply text-border-gray text-center font-semibold mb-[1rem];
        font-size: 0.85rem;
      }

      h5 {
        @apply text-center text-white font-semibold;
        font-size: 0.85rem;
      }
    }
  }
}