.toggle_list_wrapper {
  @apply bg-black-primary;

  @media screen and (width <= 766px) {
    display: none;
  }

  &::before {
    @apply block w-full h-[2px] bg-white mb-2;

    content: '';
    opacity: 0.1;
  }

  &::after {
    @apply block w-full h-[2px] bg-white my-2;

    content: '';
    opacity: 0.1;
  }

  .trigger_btn {
    @apply h-[3.75rem] flex items-center justify-between w-full cursor-pointer;

    .arrow_icon {
      @apply transition-all w-5 h-5 font-bold text-border-gray;
    }

    &:hover {
      h3 {
        @apply text-gray-text;
      }

      .arrow_icon {
        @apply text-gray-text;
      }
    }

    h3 {
      @apply text-border-gray uppercase font-bold;

      font-size: 0.8rem;
    }
  }

  .toggle_list {
    @apply w-full list-none;
  }
}

.toggled {
  @apply rotate-180;
}
