.container {
  background-color: rgb(18, 18, 18);
  position: sticky;
  top: 0px;
  z-index: 10;

  @media (min-width: 1024px) {
    height: 100px;
  }

  .toolbar {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    .content {
      @apply flex items-center justify-between;
      width: 100%;
    }

    .left {
      @apply flex items-center;

      a {
        @apply ml-[2rem] text-border-gray text-sm font-medium;

        &:hover {
          @apply text-white transition-all;
        }
      }

      .activeLink {
        @apply text-white;
      }
    }

    .right {
      @apply flex items-center;

      button {
        @apply relative ml-[1.8rem] text-border-gray text-sm font-medium;

        &:hover {
          @apply text-white transition-all;

          span {
            @apply text-basic-black;
          }
        }

        span {
          @apply absolute inline-block bg-white w-[1rem] rounded-3xl ml-[0.2rem] text-basic-black;
          top: 0;
          right: -1.3rem;
        }
      }
    }
  }
}
