.info {
  @apply mb-[1.5rem] text-stone-400;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;

  input {
    @apply flex items-center;

    &::placeholder {
      font-size: 0.7rem;
    }
  }
}