.card {
  @apply w-full h-[13.4rem] flex bg-basic-black p-[1.3rem] rounded;

  .image {
    img {
      @apply h-full w-[10rem] rounded;
    }
  }

  .content {
    @apply w-full flex justify-between;

    .title {
      @apply text-white ml-[1rem];
      font-size: 1rem;

      a {
        @apply transition-all;
        &:hover {
          @apply underline;
        }
      }
    }

    .rightSide {
      @apply flex flex-col justify-between;

      .price {
        @apply text-right text-white;
        font-size: 1rem;
      }

      .remove {
        @apply text-border-gray font-semibold border-b border-border-gray transition-all;
        font-size: 0.9rem;

        &:hover {
          @apply text-white border-white;
        }
      }
    }
  }
}
