.container {
  @apply relative h-full w-full;
  background: rgb(18, 18, 18);

  .content {
    @apply flex justify-between mx-auto;
    width: 75%;

    @media screen and (max-width: 766px) {
      width: 90%;
    }
  }

  .no_games {
    @apply text-sm text-white;
  }
}