.about {
  textarea {
    @apply w-full rounded border border-border-gray h-[3rem] text-white px-[0.5rem];
    font-size: 0.8rem;
    background-color: transparent;
    resize: none;

    &::placeholder {
    }
  }
}