.dropdown {
  @apply relative h-full w-fit text-stone-400;

  &:hover ul, &:focus ul {
    opacity: 1;
    visibility: visible;
  }

  .popup {
    @apply absolute bottom-0 left-0 right-0 w-full bg-basic-gray flex flex-col items-center gap-1 cursor-pointer py-[0.5rem];
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    transition: opacity 200ms ease-in;
  }
}