.games_section {
  @apply h-full w-full pb-[1rem];

  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.4;

  .game_list {
    @apply w-full m-0 p-0;

    list-style-type: none;
    align-content: stretch;
    display: -webkit-box;
    display: flex;
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 1.4;
  }
}
