.header {
  @apply w-full bg-basic-gray flex items-center justify-between pl-4;
  height: 3.25rem;
  max-height: 3.25rem;

  .left_nav {
    @apply h-full flex items-center;
    .logo {
      @apply h-full;

      a {
        @apply h-full flex items-center cursor-pointer;

        p {
          @apply ml-2 text-gray-text uppercase;
          font-size: 0.65rem;
          letter-spacing: 0.05rem;

          span {
            font-size: 0.8rem;
            font-weight: bold;
            color: #f3d349
          }
        }
      }
    }

    .nav_links {
      @apply relative h-full flex items-center ml-4;

      .active_link:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: .25rem;
        background: #f3d349;
      }

      a {
        @apply relative h-full flex flex-col justify-center text-gray-text uppercase px-4 transition-all;
        font-size: 0.65rem;
        letter-spacing: 0.05rem;

        &:after {
          @apply transition-all;
          content: '';
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          height: 0;
          background: #f3d349;
        }

        &:hover {
          color: white;

          &:after {
            height: .25rem;
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

