.card {
  @apply w-full h-[13.4rem] bg-basic-black mb-[2rem] rounded flex p-[1.3rem];

  &__image {
    @apply h-full;

    img {
      @apply h-full w-[10rem] rounded;
    }
  }

  &__content {
    @apply w-full flex justify-between;

    .game_name {
      @apply text-white ml-[1rem];
      font-size: 1.1rem;

      a {
        @apply transition-all;
        &:hover {
          @apply underline;
        }
      }
    }

    .right {
      @apply flex flex-col justify-between;

      .game_price {
        @apply text-right text-white;
        font-size: 1.1rem;
      }

      .remove_btn {
        @apply text-border-gray font-semibold border-b transition-all;
        font-size: 0.9rem;

        &:hover {
          @apply text-white
        }
      }
    }
  }
}